body {
    background: white;
}

.sitebanner {
    width: 100%;
    padding: 8px;
    background: #F7F7F7;
    border-bottom: 1px solid #eee;
}

.sitecontent {
    padding-top: 70px!important;
    height: 100%;
}

.homelink {
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
    color: #63666A;
}

.bannerright {
    margin-top: 9px!important;
}

.signout {
    color:#63666A;
}

.signout:hover {
    color:#63666A;
    text-decoration: underline;
}

.banneravatar {
    margin-left: 8px;
}

/*
Temporary css to center contents of message
*/
.messagecentered {
    margin-top: 30%!important;

}